<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>Chart of Courses</h1>
    <a href="./">Back to Course Table</a>

    <p id="test"></p>

    <div style="width: 1000px">
        <canvas id="myChart"></canvas>
    </div>

    <% const res = result %> 

    <script>
    const result = JSON.parse('<%- JSON.stringify(res) %>')
    const labels = []
    result.forEach(el => labels.push(el.name)) 

    const studentCount = []
    result.forEach(el => studentCount.push(el.Users.length)) 

    const data = { 
        labels: labels,
        datasets: [{
        label: 'Course Enrollment Statistic',
        backgroundColor: 'rgb(255, 99, 132)',
        borderColor: 'rgb(255, 99, 132)',
        data: studentCount,
        }]
    }
    
    const config = {
        type: 'bar',
        data: data,
        options: {}
    }
    
    const myChart = new Chart(
        document.getElementById('myChart'),
        config
    )
    </script>   
</body>
</html>