<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
</head>
<body style="text-align: center;">
    <h1>Home</h1>
    <div>
        <h2>
            <pre>
        Learn English online and improve your skill with Ruang Kangguru 
        through our high-quality courses and resources,
        all designed for adult language learners.
            </pre>
        </h2>
    </div>
    <a href="/register"><button>Register</button></a>
    <a href="/login"><button>Login</button></a>
</body>
</html>