<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <h1>Registration</h1>
    <form action="/register" method="post">
        <div>
            <label for="email">Email</label>
            <input type="text" name="email">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="">
        </div>
        <div>
            <label for="name">Fullname</label>
            <input type="text" name="name" id="">
        </div>
        <div>
            <label for="dateOfBirth">Date of Birth</label>
            <input type="date" name="dateOfBirth" id="">
        </div>
        <div>
            <label for="gender">Gender</label>
            <select name="gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>
        <button type="submit">Register</button>
    </form>
</body>
</html>